body {
  background-color: #282c34;
}
.App {
  color: whitesmoke;
}
.option-btn {
  font-size: 1em;
  padding: 1em;
  margin: 1em;
  background-color: rgb(179, 207, 223);
}

.login-info {
  padding: 1em;
  background-color: rgb(177, 139, 68);
  margin: 1em;
  width: 15em;
}

.room-card {
  padding: 1em;
  width: 15em;
  margin: 1em;
  outline: white solid 1px;
}
