body {
  background-color: #282c34;
}

.App {
  color: whitesmoke;
}

.option-btn {
  font-size: 1em;
  padding: 1em;
  margin: 1em;
  background-color: rgb(179, 207, 223);
}

.login-info {
  padding: 1em;
  background-color: rgb(177, 139, 68);
  margin: 1em;
  width: 15em;
}

.room-card {
  padding: 1em;
  width: 15em;
  margin: 1em;
  outline: white solid 1px;
}

.auth-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px whitesmoke;
  margin: auto;
  width: 60vw;
  padding: 20px;
  margin: 0 10px;
}

.enter-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.auth-btn {
  color: whitesmoke;
  background-color: cadetblue;
  font-size: 20px;
  padding: 10px 60px;
  width: 100%;
}

.auth-input {
  padding: 10px;
  text-align: center;
  width: 80%;
  font-size: 20px;
}

.error-msg {
  color: red;
}

.login-form {
  width: 100%;
  text-align: center;
}

.login-text {
  margin-top: 10px;
}

.auth-link {
  color: cadetblue;
}

.login-btn {
  color: whitesmoke;
  background-color: cadetblue;
  font-size: 20px;
  padding: 10px 60px;
  width: 85%;
}
